# {{ (onepasswordDetailsFields "cn4b7yasjupxqv6c4chgoo6uzy").notesPlain.value }}
[onepassword]
    mode = "account"

[diff]
    command = "difft"

[merge]
    command = "nvim"
    args = "-d"

[data]
    {{- if eq .chezmoi.hostname "Mephala" }} 
    email = {{ (onepasswordItemFields "drfo2oaavoinkrdyzzrkynm5k4").comment.value | quote }}
    op_ssh_uuid = "drfo2oaavoinkrdyzzrkynm5k4"
    {{- else if eq .chezmoi.hostname "drummondogilvie-MacBook-Pro" }}
    email = {{ (onepasswordItemFields "gr22htz7zf2vo6wjz5hllm7bpq").email.value | quote }}
    op_ssh_uuid = "gr22htz7zf2vo6wjz5hllm7bpq"
    {{- end }}
