[advice]
    addEmptyPathspec = false
	macheteEditorSelection = false
    pushNonFastForward = false
    statusHints = false
[alias]
	publish = push -u origin HEAD
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
	gpgsign = true
[core]
    compression = 9
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
    preloadindex = true
[diff]
    algorithm = histogram
    colorMoved = plain
    external = difft
    interHunkContext = 10
    mnemonicPrefix = true
    renames = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[log]
    abbrevCommit = true
[machete "github"]
        prDescriptionIntroStyle = full-no-branches
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autostash = true
	autosquash = true
	updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[tag]
	gpgsign = true
	sort = version:refname
[user]
	email = {{ .email }}
    name = Drum Ogilvie
    signingkey = {{ .chezmoi.homeDir }}/{{ (onepasswordItemFields .op_ssh_uuid).pubfile.value }}
    useConfigOnly = true
{{- if eq .chezmoi.hostname "drummondogilvie-MacBook-Pro" }}
[includeIf "gitdir:~/Developer/9fin/"]
    path = ~/Developer/9fin/.gitconfig_include
{{- end }}
