{{ (onepasswordItemFields "drfo2oaavoinkrdyzzrkynm5k4").comment.value }} {{ (onepasswordDetailsFields "drfo2oaavoinkrdyzzrkynm5k4").public_key.value }}
{{ (onepasswordItemFields "fiksoemdu7rsmxjy7csetqylca").comment.value }} {{ (onepasswordDetailsFields "fiksoemdu7rsmxjy7csetqylca").public_key.value }}
