[ui]
default-command = "log"

[user]
name = "Drum Ogilvie"
email = {{ .email | quote }}

[template-aliases]
"format_short_id(id)" = "id.shortest(8)"

[signing]
behaviour = "own"
backend = "ssh"
key = "{{ (onepasswordDetailsFields .op_ssh_uuid).public_key.value }} {{ .email }}"

[git]
auto-local-bookmark = true

[core]
fsmonitor = "watchman"

[snapshot]
max-new-file-size = "10MiB"
