# Starship config! 

# I've decided that I don't like the blank lines
add_newline = false

# Wait a little longer for things (lots of cold starts)
command_timeout = 700

[aws]
disabled = true

[gcloud]
disabled = true

[dotnet]
disabled = true

{{- if eq .chezmoi.hostname "NV-2C6J9X-MBP"}}
[kubernetes]
disabled = false

[[kubernetes.contexts]]
context_pattern = "rancher-desktop"
style = "blue"
context_alias = "rd"

[[kubernetes.contexts]]
# call out when the context pattern is teleport
context_pattern = "teleport.*"
style = "bold red"
context_alias = "teleport"
{{- end }}

[package]
disabled = true

[custom.jj]
command = 'jj show -T "change_id.shortest()" --no-patch'
detect_folders = [".jj"]
symbol = '🥋'
format = 'on $symbol jj@[$output]($style) '
